<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorar Servidores</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100&family=Lato:wght@700&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/explorar_servidores.css">
</head>
<body>
    <section class="volver-home">
        <div class="contenedor-back">
            <img src="../assets/iconos/home-icon.png" alt="">
        </div>
        <p>Volver al inicio</p>
    </section>
    <main>
        <h1>Explorar Servidores</h1>
        <section class="buscador-servidores">
            <input type="text" id="servidor-input-busqueda">
            <button id="buscar-servidor" class="buscar-servidor-boton">Buscar</button>
        </section>
        <section class="resultado-servidores">
            
        </section>
    </main>
    <script src="../scripts/explorar_servidores/buscar_servidores.js"></script>
    <script src="../scripts/explorar_servidores/ingresar_al_servidor.js"></script>
</body>
</html>